<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>c7</BK1>
  <BK2>47</BK2>
  <Col3>d7</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>170</data>
      <data>255</data>
      <data>95</data>
      <data>255</data>
      <data>255</data>
      <data>247</data>
      <data>255</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>170</data>
      <data>255</data>
      <data>255</data>
      <data>223</data>
      <data>255</data>
      <data>253</data>
      <data>127</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>170</data>
      <data>254</data>
      <data>254</data>
      <data>126</data>
      <data>254</data>
      <data>254</data>
      <data>246</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>170</data>
      <data>191</data>
      <data>191</data>
      <data>189</data>
      <data>191</data>
      <data>191</data>
      <data>159</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>150</data>
      <data>150</data>
      <data>150</data>
      <data>150</data>
      <data>150</data>
      <data>150</data>
      <data>150</data>
      <data>150</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>3</data>
      <data>3</data>
      <data>15</data>
      <data>15</data>
      <data>63</data>
      <data>63</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>63</data>
      <data>63</data>
      <data>15</data>
      <data>15</data>
      <data>3</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>240</data>
      <data>240</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>15</data>
      <data>15</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>240</data>
      <data>240</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>15</data>
      <data>15</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>0</data>
      <data>16</data>
      <data>116</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
